APP_ENV=production
APP_URL=https://livepro.kreivadigital.com

DB_DRIVER=mysql
DB_HOST=localhost
DB_PORT=3306
DB_NAME=u129733262_livepro
DB_USER=u129733262_livepro
DB_PASS=CHANGE_ME
DB_CHARSET=utf8mb4
